<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">

    <!-- MyBatis SqlSession 설정 -->
    <bean id="sqlSession" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="mapperLocations" value="classpath:/egovframework/mapper/*.xml"/>
    </bean>

    <!-- Mapper 인터페이스 패키지 스캔 -->
    <bean class="org.egovframe.rte.psl.dataaccess.mapper.MapperConfigurer">
        <property name="basePackage" value="com.kopo.etf.mapper"/>
    </bean>

</beans>